
    <section></section>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Project: <h1 id="projectName"><%=msg.name%></h1></h1>
                <p class="lead"> Description: <h4><%=msg.desc%></h4></p>
                <li>Creator:  <h5><%= msg.User.uName %></h5></li>
                <li>Creator Email: <h5><%= msg.User.email %></h5></li>
                <li>Creation Date: <h5><%= msg.createdAt %></h5></li>
            </div>
        </div>
        <br>
        <br>
    <section>
            <a class="image"><img src="<%=msg.img%>" alt="" /></a>

            <button id='fund'>Fund This Project</button>
        </section>

    </div>


